@import '../node_modules/bootstrap/dist/css//bootstrap.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('https://www.hdwallpapers.in/download/earth_ocean_rock_sunset_long_exposure_4k_5k_hd-HD.jpg');
  background-size: cover;
  color: white;
}
